body{

font-family:Inter;
background:white;
margin:0;

}

.navbar{

display:flex;
justify-content:space-between;
padding:20px 60px;
border-bottom:1px solid #eee;

}

.logo{

font-family:'Space Grotesk';
font-size:22px;
color:#6C3BFF;

}

.menu a{

margin-left:30px;
text-decoration:none;
color:#333;

}

.hero{

text-align:center;
margin-top:120px;

}

.hero h1{

font-size:48px;

}

button{

background:linear-gradient(90deg,#6C3BFF,#D4AF37);
border:none;
padding:12px 28px;
color:white;
border-radius:10px;
cursor:pointer;

}

.container{

max-width:1000px;
margin:auto;
padding:40px;

}

.card{

background:white;
padding:25px;
margin-top:20px;
border-radius:16px;
box-shadow:0 20px 40px rgba(0,0,0,0.05);

}